 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
} 
body,header,footer{
    font-family: poppins,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .025em;
    line-height: 2.1428;
    color: #666;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 2rem;
}
li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-type: none;
}
::marker{
    display: none;
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
address {
    font-style: normal;
    line-height: 1.42857143;
}
.logo{
    width: 40px;
    height: 40px;
}
.social{
    width: 16px;
  height: 18px;
  margin-right: 15px;
}
.menu{
    width: 30px;
    height: 30px;
    margin-left: 15%;
}
.navbar{
    z-index: 10;
    top: 0;
    height: 5rem;
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    padding-top: 0;
}


.superpose2{
    display: inline-block;
}
.headeraligne{
    display: flex;
    justify-content: space-between;
}
.footeraligne{
    display: flex;
    justify-content: space-between;
}
.space{
    justify-content: space-between;
    vertical-align:top;
}
nav{
    overflow: hidden;
}
.navbar-spacer {
    float: right;
    margin: -1rem 4.5rem 0;
    width: 1px;
    height: 3.3rem;
    background-color: #e0e0e0;

}
.icon {
    display: inline-block;
}
.flexer{
    display: flex;
}


.superpose{
    display: inline-block;
}
.textegris{
    color : #999;
    font-size: .857rem;
    font-weight: 300;
    margin-top: -.3rem;
}
.decalagedroite{
    margin-left: 15%;
    margin-right: -10%;
}
.titre{
    font-weight: 600;
    font-size: 1.714rem;
    line-height: 1
}
.navbar-address {
    float: right;
    font-weight: 600;
    text-transform: uppercase;
}
.textenoire{
    color : black;
}
.image1{
    background-image: url(image/slide1.jpg);
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.vertcarretexte {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.142rem;
    line-height: 1;
    font-weight: 600;

}
.cadrevert {
    display: inline-block;
    vertical-align: middle;
    width: 10rem;
    height: 20rem;
    border: .2rem solid #cee002;
    margin-left: 28%;
    margin-top: 5%;
}
.texteblanc{
    color: white;
}
.decalagehaut{
    margin-bottom: 35%;
}
.decalagebas{
    margin-top: 50px;
    font-size: 1rem;
}
/***********sectionabout*******************/

.section-about {
    padding: 8rem 0 0;
    
}

.row {
    margin-right: 15%;
    margin-left: 10%;
    display: flex;
}

.section-subtitle {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #cee002;
    margin-bottom: 1rem;
}
.section-about-title {
    margin-bottom: 5rem;
}
.section-title {
    margin: 0;
}
.experience-box {
    position: relative;
    white-space: nowrap;
    margin: 6rem 0;
}
.experience-border {
    display: inline-block;
    vertical-align: middle;
    width: 12.15rem;
    height: 12.15rem;
    border: .357rem solid #cee002;
}
.experience-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -8rem;
    top: .2rem;
}
.experience-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 7.142rem;
    line-height: 1;
    font-weight: 600;
    color: #000;
}
.experience-info {
    display: inline-block;
    vertical-align: middle;
    margin: -1rem 0 0 .8rem;
    font-size: 1.57rem;
    line-height: 1.181;
    color: #000;
}
.dots-image {
    display: inline-block;
    position: relative;
}
.dots-image .dots {
    position: absolute;
    left: -20%;
    bottom: -15%;
    width: 101%;
    height: 57.2%;
    opacity: 100%;
    background-image: url(image/dots.png);
    z-index: 0;
}
.about-img{
    height: 36rem;
    width: 480px;
    opacity: 100%;
    z-index: 1;
}
.lessinter{
    line-height: 1;
    margin-top: 30px;
}
.nomarg{
    margin-top: 0;
}
.footer-spacer {
    float: right;
    margin: 20px auto;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;

}
@media (max-width: 992px) {
    .decalagedroite{
        display: none;
    }
    .navbar-spacer{
        display: none;
    }
    .reseau{
        margin-right: 0;
    }
    .reseau2{
        margin-right: 0;
    }
    .row {
        margin-right: 15%;
        margin-left: 10%;
        display: inline;
    }
    .footeraligne{
        display: inline;
    }
    .superpose{
        display: inline;
        margin-top: 50px;
    }
    
}
@media (max-width: 770px) {
    .reseau{
        display: none;
    }
}